*.pyc

####################
# Temporary files
*~
*.swp
\#*\#
.\#*

####################
# Coverage stuff
.coverage
htmlcov/

####################
# python build
build/
baycat.egg-info/

.venv/

####################
# We sometimes make these
.baycat_manifest
.s3baycat_manifest